/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style de l'en-tête (header) */
header {
    background-color: #9f6f8e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style du contenu principal (main) */
main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px #d009098d;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    width: 200px; /* Définissez la largeur souhaitée pour toutes les images */
    height: 200px; /* Définissez la hauteur souhaitée pour toutes les images */
}

.product h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.product p {
    font-size: 16px;
    color: #666;
}

.product button {
    background-color: #9f6f8e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Style du pied de page (footer) */
footer {
    background-color: #9f6f8e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Style au survol du bouton "Acheter" */
.product button:hover {
    background-color: #f30e29;
}

/* Style pour les liens de navigation */
header nav ul li a:hover {
    text-decoration: underline;
}

/* Style pour le lien de retour en haut de page */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}
